<h1>Listing students</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Dob</th>
    <th>Age</th>
  </tr>

<% @students.each do |student| %>
  <tr>
    <td><%=h student.Name %></td>
    <td><%=h student.DOB %></td>
    <td><%=h student.Age %></td>
    <td><%= link_to 'Show', student %></td>
    <td><%= link_to 'Edit', edit_student_path(student) %></td>
    <td><%= link_to 'Destroy', student, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New student', new_student_path %>