<p>
  <b>Name:</b>
  <%=h @student.Name %>
</p>

<p>
  <b>Dob:</b>
  <%=h @student.DOB %>
</p>

<p>
  <b>Age:</b>
  <%=h @student.Age %>
</p>


<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', students_path %>